---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { getCollection } from "astro:content";
const posts = await getCollection("posts");
---

<Layout title="Oli Saxon | Portfolio">
    <main>
        <section class="grid grid-cols-2 p-8 gap-8">
            {
                posts.map((post) => {
                    return (
                        <Card
                            title={post.slug}
                            href={`/posts/${post.slug}`}
                            body={post.data.description}
                        />
                    );
                })
            }
        </section>
    </main>
</Layout>
