---
import { cn } from "../lib/utils";
import {
    THEME_OBJ,
    SIZE_MAP,
    type ISectionProps as Props,
    type Keys,
} from "../lib/themes";
import type { Sizes } from "../lib/themes";

let { variant, size } = Astro.props;
variant = THEME_OBJ[variant] as Keys;
size = SIZE_MAP[size] as Sizes;
---

<section transition:animate="morph" class={cn("p-4 md:p-8", variant, size)}>
    <div class={cn("border border-white p-12 h-full relative")}>
        <!-- <div class="right-12 left-12 absolute -top-1 bg-grain h-2"></div>
        <div class="right-12 left-12 absolute -bottom-1 bg-white h-2"></div>
        <div class="top-12 bottom-12 absolute -right-1 bg-white w-2"></div>
        <div class="top-12 bottom-12 absolute -left-1 bg-white w-2"></div> -->
        <slot />
    </div>
</section>
