---
import { cn } from "../lib/utils";
import { themeMap, sizeMap, type SectionProps as Props } from "../lib/themes";

let { variant, size } = Astro.props;
variant = themeMap.get(variant);
size = sizeMap.get(size);
---

<section class={cn("p-12", variant, size)}>
    <slot />
</section>
